<div class="container search-table">
  <div class="search-box">
    <div class="row">
      <div class="col-md-9">
        <input
          type="text"
          id="myInput"
          class="form-control"
          [formControl]="busca"
          placeholder="Pesquisar Request (Post)"
          required
          maxlength = "10"
        />
      </div>
      <div class="float-right">
        <button class="btn btn-primary" (click)="onSearch()">Pesquisar</button>
      </div>
    </div>
  </div>
  <div class="search-list">
    <div>
      <h5>{{ total }} de LOG</h5>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Request</th>
          <th>IP</th>
          <th>Status</th>
          <th></th>
          <th>Data</th>
          <th></th>
          <th>UserAngent</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of resultados">
          <td>{{ result.metodo }}</td>
          <td>{{ result.ip }}</td>
          <td>{{ result.status }}</td>
          <td></td>
          <td>{{ result.data }}</td>
          <td></td>
          <td>{{ result.userAgent }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
